*.psd
*.png
*.jpg
*.jpeg
*.ico
#.tiff
*.tga
*.svg
*.bmp
*.hdr
*.dxp
*.fbx
*.stl
*.3ds
*.exr
*.avi
*.mp3
*.ogg
*.acc
*.m4a
*.flac
*.ape
*.wav
*.wma
*.alac
*.mp4
*.mkv
*.mpv
*.avi
*.rmb
*.mov
*.rar
*.zip
*.tar.gz
*.tar
*.uasset
*.blend
*.data
*.csf